<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>edit</title>
</head>
<body>

<div>
    <form th:action="@{/user}" method="post">
        <p th:text="'id'+' '+ ${user.id}"></p>
        <label>
            <input type="text" name="username" th:value="${user.username}">
        </label>
        <div th:each="role : ${roles}">
            <label>
                <span th:text="${role}"></span>
                <input type="checkbox" th:name="${role}" th:checked="${#lists.contains(user.roles,role)}">
            </label>
        </div>
        <div><input type="submit" value="save"/></div>
    </form>
</div>
</body>
</html>